body{
    margin: 0;
    text-align: center;
    margin-top: 50px;
}
.headIcon{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #4BA0EC;
    border-radius: 50%;
}
.title{
    position: relative;
    left: -170px;
    margin-top: 30px;
    font-size: 24px;
    
}
.nameContainer{
    display: inline-block;
    width: 560px;
    background-color: #F6F8FA;
    border-bottom: solid 2px #697785;
}
.nameLabel{
    left: -247px;
    position: relative;
    font-size: 14px;
}
.inputName{
    width: 550px;
    height: 39px;
    background-color: #F6F8FA;
    border: none;
}
.idContainer{
    display: inline-block;
    width: 560px;
    background-color: #F6F8FA;
    border-bottom: solid 2px #697785;
}
.inputId{
    width: 550px;
    height: 39px;
    background-color: #F6F8FA;
    border: none;
}
.pwContainer{
    display: inline-block;
    width: 560px;
    background-color: #F6F8FA;
    border-bottom: solid 2px #697785;
}
.idLabel{
    left: -247px;
    position: relative;
    font-size: 14px;
}
.blank{
    height: 20px;
}
.inputPw{
    width: 550px;
    height: 37px;
    background-color: #F6F8FA;
    border: none;
}
.pwLabel{
    left: -240px;
    position: relative;
    font-size: 14px;
}
.nextBtn{
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 30px;
    top: 55px;
    right: 490px;
    border-radius: 15px;
    background-color: #A5D0F6;
    color: white;
    border: none;
    font-weight: bold;
}
.logIn{
    display: inline-block;
    position: relative;
    left:-220px;
    color: #1592E6;
    font-size: 12px;
}